{% extends "base.html" %}
{% block content %}
  <div id='appsWrapper' class='appsWrapper'>
  <div id='contentTitle' class='contentTitle'>Documents</div>
  <script>
    $(".appsWrapper").css("display", "block");
  </script>
  {% for pubtype in pubtypes%}
    <div class='appIcon'>
      <a href=" {{ pubtype.url }} ">
      <div class="appIconImage"><img src="{{ request.script_root }}/static/images/{{ pubtype.image }}"</></div>
      <div class="appIconCaption">{{ pubtype.caption }}</div>
    </div></a>
  {% endfor %}
  <script>
  //enforce minimum height
    var height = $(".appsWrapper").height();
    if (height < 700) {
      $(".appsWrapper").height(700);
    }
  </script>
  </div>
{% endblock %}
