{% extends "base.html" %}
{% block content %}
    <div class='formWrapper'>
     <form action="{{ request.script_root }}/login/opd/deploy/update" method="post" name="opdDeploy">
      {{ form.hidden_tag() }}
      <p>
          <h2> Site</h2>
          {{ form.site(readonly=true) }}<br>
          <h2>Serial Number</h2>
          {{ form.serial }}<br>
          <h2>Operator</h2>
          {{ form.operator }}<br>
          <h2>Deployed</h2>
          {{ form.deployed(size=10) }}<br>
      </p>
      <p><input type="submit" value="Submit">
      <input type="reset" value="Reset"></p>
  </form>
    </div>
{% endblock %}
